* {
  background-color: #fff;
  color: #37C2DD;
}

h1 {
  font-family: "Walter Turncoat", cursive;
}


#alphabet {
  margin: 1em 1.5em;
}

#alphabet li {
  font-size: 1.2em;
  font-weight: 100;
  color: #fff;
  list-style-type: none;
  float: left;
  width: 1.5em;
  padding: 0.5em;
  margin: 0.5em;
  text-align: center;
  background-color: #37C2DD;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
}

#alphabet li:hover {
  background-color: #fff;
  color: #37C2DD;
}

#alphabet .clicked {
  opacity:0.4;
  text-decoration: none;
  cursor: default;
}

#target {
  text-align: center;
  font-size: 2em;
  font-weight: 50;
  margin-top: 3em;
}

#hangman {
  text-align: center;
}
/*canvas {
  border: 1px dashed black;
}*/
